<!DOCTYPE html>
<html>
   <head>
       <!--specifies title of the page !-->
       <title>Home</title>
   <head>
   <body>
   <p><h1>Hello!</h1></p>
   <p>My name is Meiqi Lin, a sophomore at Barnard College.</p>
   <img src="{{url_for('static', filename='Maggie.JPG')}}" align="middle"/>
   <p>I majoring in Neuroscience.</p>
   <p>Here are two pills:</p>
   <a href="/pumpkin">A dose of pumpkin spice</a> \
   <a href="/internet">A dose of the internet</a>
   <p>Or... you can just check out this video that gives me joy all the time --> 
   <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">ENJOY</a></p>
   </body>
</html>

