<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>A dose of the internet</title>
    <head>
    <body>
    <p>take a risk</p>
    <p><a href="https://www.youtube.com/watch?v=6FQsIfE7sZM">Cute kittens / my worst nightmare</a></p>
    <a href="https://www.youtube.com/watch?v=JNuQRO3DRb4">Babies / Weird parasite for snails</a>
    <p> </p>
    <a href="https://www.youtube.com/watch?v=AtRs5gGNbxM">PUPPIES!! / Chickens fighting</a>
    <p> </p>
    <a href="https://www.youtube.com/watch?v=lbHjs9A7sis">Cool Octopus / An annoying song</a>
    <br>
    <br>
    <br>
    <br>
    <a href="http://127.0.0.1:5000/">Back</a>\
    <a href="pumpkin">I need some pumpkin spice</a>
    </body>
</html>

