<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Pumpkin</title>
    <head>
    <body>
    <p>'Pumpkin' is the name of my dog</p>
    <p>He is a shiba inu, and has the fur color of a pumpkin (even though my mom disagrees)</p>
    <img src="{{url_for('static', filename='Pumpkin2.JPG')}}" align="middle" height="500"/>
    <img src="{{url_for('static', filename='Pumpkin1.JPG')}}" align="middle" height="500"/>
    <p>Hope you enjoy :)</p>
    <a href="http://127.0.0.1:5000/">Back</a>\
    <a href="internet">Show me a dose of the internet instead</a>
    </body>
</html>
